<div class="container mt-3">
  <h2 class="text-center"><%= @list.name %></h2>
  <% @list.movies.each do |movie| %>
    <div class="cards text-center">
      <div class="card-wrapper">
        <%= image_tag movie.poster_url, alt: "Le Wagon", width: 250, height: 250 %>
      <div class="card-category bg-light">
        <p>Movies: <%= movie.title %></p>
        <p>overview: <%= movie.overview %></p>
        <p>Rating: <%= movie.rating %></p>
        <% movie.bookmarks.each do |bookmark| %>
        <div>
          <p><i class="fa-solid fa-bookmark pl-3"></i><%= bookmark.comment %><%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%><i class="fa-solid fa-delete-left"></i></p>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
  <div>
  <%= link_to 'Back to List', root_path, class: 'btn btn-primary mr-4' %>
  <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: 'btn btn-success ml-4' %>
  </div>
</div>
