<div class="container">
  <h3 class="card-title"><%= @list.name %></h3>
  <h5 class="card-title">Movies: </h5>
  <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag movie.poster_url, alt: "Movie Poster", class: "img-fluid" %>
            </div>
            <div class="col-md-6 bg-light">
              <div class="card-body">
                <%= movie.title %>
                <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
                <%= link_to "Delete", bookmark_path(bookmark), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="links mt-3">
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list), class: "btn btn-success ml-3" %>
    <%= link_to "Delete list", list_path(@list), class: "btn btn-danger ml-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
